<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Portal_Randstad.Properties.Settings.BDActiva" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;\\edp.pt\edpsc\EDPSC_DRC-CC_Operação Odivelas\Coordenação\Planeamento e Controlo\UpgradeCtrl\UpgradeCtrl\bin\Debug\Portal Randstad\Portal Randstad\bin\Portal Randstad\bdactiva2.accdb&quot;" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
